:root {

	--primary-color: #000;
	--header-bg: black;
	--header-color: white;
	--light-black: rgba(0, 0, 0, 0.1);
	--bg-color: white;
	--orange-color: #ff8800;
	--light-orange: #FFC898;
	--yello: #ffdd00;
	--secondary-bg: #fff6e1;
	--light-green: #dbffd5;
	--light-blue: #f2fffd;
	--dark-blue: #141522;
	--strong-blue: #2e3b6e;
	--pink: #ff0088;
	--red: #ff0057;
	--purple: #a000fb;
	--dark-purple: #570188;
	--box-shadow: 0px 6px 7px #0000001f;
}